<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQm4RZRvRR3s4uzZ2KMvjjlSsnsDWE_ls</string>
	<key>GCM_SENDER_ID</key>
	<string>751125177646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lunchxCustomer</string>
	<key>PROJECT_ID</key>
	<string>lunchx-8a27e</string>
	<key>STORAGE_BUCKET</key>
	<string>lunchx-8a27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751125177646:ios:81a0f595c748a28d41c6bf</string>
</dict>
</plist>